.footer {
  display: flex;
  float: left;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(to right, #e4534cde, #e1a7a4de);
  color: #fff;
  font-size: 14px;
  /* position: fixed; */
  /* bottom: 0; */
}

.footer .footer-left p,
.footer .footer-center p,
.footer .footer-right ul {
  margin: 10px 0;
}

.footer .footer-left p:first-child,
.footer .footer-center p:first-child,
.footer .footer-right ul:first-child {
  margin-top: 0;
}

.footer .footer-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer .footer-right ul {
  list-style: none;
  padding: 0;
}

.footer .footer-right li {
  margin-bottom: 5px;
}

.footer .footer-right a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .footer-right a:hover {
  color: #f90;
}

@media screen and (max-width: 767px) {
  .footer {
    align-items: flex-start;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    margin-bottom: 20px;
  }

  .footer .footer-left {
    order: 3;
  }

  .footer .footer-center {
    order: 1;
  }

  .footer .footer-right {
    order: 2;
  }
}

.footer div {
  margin: 30px 30px 50px 30px;
}

.footer .contact-us a {
  color: whitesmoke;
}

.footer .help li {
  margin-right: 80px;
  list-style: none;
}

.footer .help li a {
  color: whitesmoke;
}

.footer h3 {
  margin-bottom: 10px;
}