/* 网页头部样式 / / 网页头部顶侧 */
.head-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

/* .head-top .logoa {
  height: 40px;
  width: 100px;
} */

.head-top .logo {
  height: 55px;
  width: 200px;
}

.head-top .search {
  display: flex;
  align-items: center;
}

.head-top form {
  margin-left: 20px;
}

.head-top .search input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  outline: none;
  width: 300px;
  box-sizing: border-box;
}

.head-top .search input[type="submit"] {
  padding: 10px;
  background-color: #f56c6c;
  cursor: pointer;
  border: none;
  border-radius: 0 10px 10px 0;
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

.head-top .search input[type="submit"]:hover {
  background-color: #d5190fde;
}

.head-top .login-register {
  width: 132px;
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.head-top .login-register a {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #f56c6c;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.head-top .login-register a:hover {
  background-color: #d5190fde;
}

.head-top .avatar {
  align-items: center;
}

.head-top .avatar a {
  font-size: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-left: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropdown-content a {
  display: block;
}

.dropdown-content .first-want {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 0 8px 10px;
}

.dropdown-content .want {
  font-size: 14px;
  padding: 4px 0 4px 10px;
}

.dropdown-content .want:hover {
  background-color: #f4798363;
  cursor: pointer;
}