.basic-bcg {
  background: #ede7da url("~assets/imgs/readerbcg/default/body.png") repeat fixed;
  padding-top: 48px;
  overflow: hidden;
}

.center-box {
  position: relative;
  width: 800px;
  margin: auto;
  padding: auto;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  font-size: 18px;
}

.center-box .text {
  border: 1px solid #d8d8d8;
  margin: 0 0 24px;
  min-height: 600px;
  padding: 60px 64px;
  background: url("~assets/imgs/readerbcg/default/basic.png") repeat fixed;
}

.center-box .bookmark {
  cursor: pointer;
  position: absolute;
  left: 100%;
  margin-left: -64px;
  /* padding-top: 8px; */
}

.text .chapter-title {
  font: 24px/32px PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  height: 32px;
  margin-bottom: 12px;
}

.text .info {
  font: 12px/16px PingFangSC-Regular, -apple-system, Simsun;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  color: rgba(0, 0, 0, .4);
  height: 34px;
}

.text .info div {
  margin-right: 16px;
}

.text .info div .icon {
  display: inline-block;
  font-size: 16px;
  margin-right: 6px;
  min-width: 16px;
  width: 16px;
  height: 16px;
  vertical-align: -4px;
}

.text .chapter-content p {
  line-height: 1.8;
  margin: .8em 0;
  text-indent: 2em;
}

.chapter-control {
  background: url("~assets/imgs/readerbcg/default/basic.png") repeat fixed;
  border: 1px solid #d8d8d8;
  height: 70px;
  margin-bottom: 24px;
  text-align: center;

}

.chapter-control a {
  font: 18px/70px PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  width: 33.2%;
  color: #262626;
}

.chapter-control span,
.chapter-control a {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
  word-spacing: normal;
}

.chapter-control a:hover {
  background: rgba(0, 0, 0, .03);
  color: #262626
}

.chapter-control span {
  border-right: 1px solid #d8d8d8;
  height: 32px;
}

.reader-menu {
  position: fixed;
  width: 60px;
  left: 50%;
  margin-left: -468px;
  z-index: 100;
}

.reader-menu dd {
  border: 1px solid rgba(0, 0, 0, .1);
  background: url("~assets/imgs/readerbcg/default/basic.png") repeat fixed;
  animation-duration: .5s;
  animation-name: fadeIn;
}


.reader-menu dd a {
  /* background-color: hsla(40, 60%, 95%, .8); */
  display: block;
  font: 12px/16px PingFangSC-Regular, -apple-system, Simsun;
  height: 58px;
  text-align: center;
  width: 58px;
  transition: color .3s;
}

.reader-menu dd a svg path {
  transition: fill .3s;
}

.reader-menu dd a .icon {
  width: 20px;
  height: 20px;
  margin: 0 auto 4px;
  display: block;
  padding-top: 10px;
}

.reader-menu dd a:hover {
  color: #f56c6c;
}

.reader-menu dd a:hover svg path {
  fill: #f56c6c;
}

.reader-menu .panel-box {
  animation-duration: .5s;
  animation-name: fadeIn;
  left: 69px;
  position: absolute;
  top: 0;
  min-width: 480px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
  background: url("~assets/imgs/readerbcg/default/base.png") repeat;
}

.reader-menu .panel-box .close-panel-button {
  cursor: pointer;
  position: absolute;
  left: 100%;
  margin-left: -36px;
  padding-top: 8px;
}

.reader-menu .panel-box .close-panel-button .close-panel-button-icon {
  transition: .5s;
}

.reader-menu .panel-box .close-panel-button .close-panel-button-icon:hover {
  color: #1a1a1a;
  transform: rotate(90deg);
}

.reader-menu .panel {
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 40px 0 40px 24px;
  background-color: #fff;
  z-index: 100;
}

.reader-menu .panel h4 {
  font-size: 18px;
  line-height: 22px;
}

.reader-menu .setting li {
  margin-top: 30px;
}

.reader-menu .panel .setting-list li i {
  color: #666;
  display: inline-block;
  font: 12px/16px PingFangSC-Regular, -apple-system, Simsun;
  margin-right: 16px;
  min-width: 48px;
  vertical-align: middle;
}

.reader-menu .panel .button {
  padding: 36px 0 0;
  text-align: center;
}

.reader-menu .panel .button a {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
  word-spacing: normal;
  border-radius: 2px;
  font: 14px/34px PingFangSC-Regular, -apple-system, Simsun;
  height: 34px;
  width: 100px;
}


.reader-menu .panel .button .save-button {
  background: #f56c6c;
  border-color: #f56c6c;
  color: #fff;
  position: relative;
  text-align: center;
  z-index: 1;
  transition: color .3s, background-color .3s;
}

.reader-menu .panel .button .cancel-button {
  height: 32px;
  line-height: 32px;
  margin-left: 40px;
  width: 98px;
  background: hsla(0, 0%, 100%, .5);
  border: 1px solid rgba(0, 0, 0, .2);
  position: relative;
  text-align: center;
  z-index: 1;
}

.reader-menu .panel .button .save-button:hover {
  background: #ed4259;
  border-color: #ed4259;
  color: #fff;
}

.reader-menu .setting .setting-list li span {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.reader-menu .setting .setting-list li.theme-list span {
  border-radius: 100%;
  height: 34px;
  line-height: 32px;
  margin-right: 24px;
  width: 34px;
}

.reader-menu .setting .setting-list li.theme-list span .icon {
  margin-top: 10px;
}

.reader-menu .setting .setting-list li.theme-list span.act,
.reader-menu .setting .setting-list li.font-list span.act,
.reader-menu .setting .setting-list li.size-list span.act {
  background: #fff0f2;
  border: 1px solid #ed4259;
  color: #ed4259;
}

.reader-menu .setting .setting-list li.theme-list span.act .icon path {
  fill: #ed4259;
}

.reader-menu dd.act {
  animation-name: fadeIn;
  animation-duration: .5s;
  border-right: none;
  box-shadow: -10px 5px 25px -4px rgba(0, 0, 0, .2);
  width: 69px;
  position: relative;
  z-index: 101;
}

.reader-menu .setting .setting-list li.font-list span {
  background: hsla(0, 0%, 100%, .5);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  height: 34px;
  margin-right: 16px;
  transition: color .3s;
  width: 78px;
  font: 14px/34px PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
}

.reader-menu .setting .setting-list li cite {
  background: hsla(0, 0%, 100%, .5);
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  display: inline-block;
  height: 34px;
  vertical-align: middle;
  width: 270px;
  font-style: normal;
}

.reader-menu .setting .setting-list li cite span {
  width: 89px;
  height: 34px;
  line-height: 34px;
}

.reader-menu .setting .setting-list li cite span:hover .icon path {
  fill: #ed4259;
}

.reader-menu .setting .setting-list li cite b {
  border-right: 1px solid #e5e5e5;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

.reader-menu .setting .setting-list li cite .number {
  color: #a6a6a6;
  cursor: default;
  font-size: 18px;
  width: 90px;
}

.reader-menu .setting .setting-list li .icon {
  margin-top: 6px;
}

.reader-menu .catalog {
  width: 790px;
  float: left;
}

.reader-menu .catalog ul {
  position: relative;
  padding-left: 24px;
  margin-top: 24px;
  overflow: auto;
  height: 50vh
}

.reader-menu .catalog ul li {
  width: 370px;
  float: left;
  height: 40px;
  border-bottom: 1.5px solid #e5e5e5;
}

.reader-menu .catalog ul li a {
  cursor: pointer;
  float: left;
  padding-top: 10px;
  transition: color .3s, background-color .3s;
  font-size: 15px;

  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

}

.reader-menu .catalog ul li a:hover {
  color: #f56c6c;
}

.reader-menu .catalog ul li.act a {
  color: #ed4259;
}

.reader-menu .comments {
  width: 600px;
  float: left;
  padding-bottom: 24px;
  padding-right: 24px;
}

.reader-menu .comments .comments-box {
  color: #262626;
}

.reader-menu .comments .comments-box ul {
  height: 50vh;
  overflow: auto;
}

.reader-menu .comments .comments-box ul.no-comments {
  font: 16px/24px PingFangSC-Regular, -apple-system, Simsun;
  margin-top: 24px;
  height: 30px;
}

.reader-menu .comments .comments-box ul li.comment-list {
  margin-top: 16px;
  padding: 0 0 16px 10px;
  border-radius: 10px;
  min-height: 90px;
  float: left;
  position: relative;
  background-color: #94919120;
}

.reader-menu .comments .comments-box li .comment-avatar {
  margin-top: 16px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0);
  float: left;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.reader-menu .comments .comments-box li .comment-avatar img {
  width: 48px;
}

.reader-menu .comments .comments-box li .comment-text {
  float: left;
  width: 500px;
}

.reader-menu .comments .comments-box li .comment-name {
  /* float: left; */
  font: 10px/20px PingFangSC-Regular, -apple-system, Simsun;
  margin: 14px 0 0 10px;
  font-weight: 600;
}

.reader-menu .comments .comments-box li .comment-time {
  float: left;
  font: 12px/16px PingFangSC-Regular, -apple-system, Simsun;
  margin-left: 10px;
  /* padding-top: 19px; */
}

.reader-menu .comments .comments-box li .comment-content {
  float: left;
  font-family: STKaiti, Kaiti;
  margin: 2px 0 0 6px;
  width: 480px;
  /* height: 40px; */
  max-height: 40px;
  word-wrap: break-word;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.reader-menu .comments .comments-box li i {
  position: absolute;
  top: 100%;
  left: 100%;
  margin-left: -30px;
  margin-top: -18px;
  cursor: pointer;
  color: #262626;
  transition: color .3s, background-color .3s;
  width: 20px;
  height: 12px;
  text-align: center;
  background-color: #94919120;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
}

.reader-menu .comments .comments-box li i:hover {
  color: #ed4259;
  border: 1px solid #ed425928;
  background-color: #ed425928;
}

.reader-menu .comments .comments-box li i:hover svg path {
  fill: #ed4259;
}

.reader-menu .comments .comments-box li i div {
  margin: -2px 0 0;
  font: 16px/20px PingFangSC-Regular, -apple-system, Simsun;
  line-height: 0;
}

.comment-input-box {
  border-top: 1px solid #e5e5e5;
  margin-top: 12px;
  padding-top: 12px;
}

.comment-input-box textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  font-family: STKaiti, Kaiti;
  outline: none;
  width: 100%;
  height: 45px;
  resize: none;
  white-space: pre-wrap;
  box-sizing: border-box;
  transition: height 0.3s ease;
}

.comment-input-box textarea:focus {
  height: 105px;
}

.comment-input-box input[type="button"] {
  float: right;
  margin-top: 12px;
  padding: 10px;
  width: 50px;
  background-color: #f56c6c;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

.comment-input-box input[type="button"]:hover {
  background-color: #d5190fde;
}