.basic-bcg {
  background: #ede7da url("~assets/imgs/readerbcg/default/body.png") repeat fixed;
  padding-top: 48px;
  overflow: hidden;
}

.center-box {
  width: 800px;
  margin: auto;
  padding: auto;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  font-size: 18px;
}

.center-box .text {
  border: 1px solid #d8d8d8;
  margin: 0 0 24px;
  min-height: 600px;
  padding: 60px 64px;
  background: url("~assets/imgs/readerbcg/default/basic.png") repeat fixed;
}

.text .chapter-title {
  font: 24px/32px PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  height: 32px;
  margin-bottom: 12px;
}

.text .info {
  font: 12px/16px PingFangSC-Regular, -apple-system, Simsun;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  color: rgba(0, 0, 0, .4);
  height: 34px;
}

.text .info div {
  margin-right: 16px;
}

.text .info div .icon {
  display: inline-block;
  font-size: 16px;
  margin-right: 6px;
  min-width: 16px;
  width: 16px;
  height: 16px;
  vertical-align: -4px;
}

.text .chapter-content p {
  line-height: 1.8;
  margin: .8em 0;
  text-indent: 2em;
}

.chapter-control {
  background: url("~assets/imgs/readerbcg/default/basic.png") repeat fixed;
  border: 1px solid #d8d8d8;
  height: 70px;
  margin-bottom: 24px;
  text-align: center;

}

.chapter-control a {
  font: 18px/70px PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  width: 33.2%;
  color: #262626;
}

.chapter-control span,
.chapter-control a {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
  word-spacing: normal;
}

.chapter-control a:hover {
  background: rgba(0, 0, 0, .03);
  color: #262626
}

.chapter-control span {
  border-right: 1px solid #d8d8d8;
  height: 32px;
}

.reader-menu {
  position: relative;
  width: 60px;
  left: 50%;
  margin-left: -468px;
}

.reader-menu dd {
  border: 1px solid rgba(0, 0, 0, .1);
  background: url("~assets/imgs/readerbcg/default/basic.png") repeat fixed;
  animation-duration: 1s;
  animation-name: bounceIn;
}


.reader-menu dd a {
  /* background-color: hsla(40, 60%, 95%, .8); */
  display: block;
  font: 12px/16px PingFangSC-Regular, -apple-system, Simsun;
  height: 58px;
  text-align: center;
  width: 58px;
}

.reader-menu dd a .icon {
  width: 20px;
  height: 20px;
  margin: 0 auto 4px;
  display: block;
  padding-top: 10px;
}

.reader-menu dd a:hover {
  color: #f56c6c;
}

.reader-menu dd a:hover svg path {
  fill: #f56c6c;
}

.reader-menu .panel-box {
  left: 69px;
  position: absolute;
  top: 0;
  width: 480px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
  background: url("~assets/imgs/readerbcg/default/base.png") repeat;

}

.reader-menu .panel-box .close-panel-button {
  cursor: pointer;
  position: absolute;
  left: 100%;
  margin-left: -36px;
  padding-top: 8px;

}

.reader-menu .panel-box .close-panel-button .close-panel-button-icon {
  transition: .5s;
}

.reader-menu .panel-box .close-panel-button .close-panel-button-icon:hover {
  color: #1a1a1a;
  transform: rotate(90deg);
}

.reader-menu .panel {
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 40px 0 40px 24px;
  background-color: #fff;
  z-index: 100;
}

.reader-menu .panel h4 {
  font-size: 18px;
  line-height: 22px;
}

.reader-menu .panel li {
  margin-top: 30px;
}

.reader-menu .panel .setting-list li i {
  color: #666;
  display: inline-block;
  font: 12px/16px PingFangSC-Regular, -apple-system, Simsun;
  margin-right: 16px;
  min-width: 48px;
  vertical-align: middle;
}

.reader-menu .panel .button {
  padding: 36px 0 0;
  text-align: center;
}

.reader-menu .panel .button a {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
  word-spacing: normal;
  border-radius: 2px;
  font: 14px/34px PingFangSC-Regular, -apple-system, Simsun;
  height: 34px;
  width: 100px;
}


.reader-menu .panel .button .save-button {
  background: #f56c6c;
  border-color: #f56c6c;
  color: #fff;
  position: relative;
  text-align: center;
  z-index: 1;
  transition: color .3s, background-color .3s;
}

.reader-menu .panel .button .cancel-button {
  height: 32px;
  line-height: 32px;
  margin-left: 40px;
  width: 98px;
  background: hsla(0, 0%, 100%, .5);
  border: 1px solid rgba(0, 0, 0, .2);
  position: relative;
  text-align: center;
  z-index: 1;
}

.reader-menu .panel .button .save-button:hover {
  background: #ed4259;
  border-color: #ed4259;
  color: #fff;
}

.reader-menu .setting .setting-list li span {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.reader-menu .setting .setting-list li.theme-list span {
  border-radius: 100%;
  height: 34px;
  line-height: 32px;
  margin-right: 24px;
  width: 34px;
}

.reader-menu .setting .setting-list li.theme-list span .icon {
  margin-top: 10px;
}

.reader-menu .setting .setting-list li.theme-list span.act,
.reader-menu .setting .setting-list li.font-list span.act,
.reader-menu .setting .setting-list li.size-list span.act {
  background: #fff0f2;
  border: 1px solid #ed4259;
  color: #ed4259;
}

.reader-menu .setting .setting-list li.theme-list span.act .icon path {
  fill: #ed4259;
}

.reader-menu dd.act {
  border-right: none;
  box-shadow: -10px 5px 25px -4px rgba(0, 0, 0, .2);
  width: 69px;
  position: relative;
  z-index: 101;
}

.reader-menu .setting .setting-list li.font-list span {
  background: hsla(0, 0%, 100%, .5);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  height: 34px;
  margin-right: 16px;
  transition: color .3s;
  width: 78px;
  font: 14px/34px PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
}

.reader-menu .setting .setting-list li cite {
  background: hsla(0, 0%, 100%, .5);
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  display: inline-block;
  height: 34px;
  vertical-align: middle;
  width: 270px;
  font-style: normal;
}

.reader-menu .setting .setting-list li cite span {
  width: 89px;
  height: 34px;
  line-height: 34px;
}

.reader-menu .setting .setting-list li cite span:hover .icon path {
  fill: #ed4259;
}

.reader-menu .setting .setting-list li cite b {
  border-right: 1px solid #e5e5e5;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

.reader-menu .setting .setting-list li cite .number {
  color: #a6a6a6;
  cursor: default;
  font-size: 18px;
  width: 90px;
}

.reader-menu .setting .setting-list li .icon {
  margin-top: 6px;
}