.basic-bcg {
  background: #ede7da url(~assets/readerbcg/body_base_bg_1.png) repeat fixed;
  padding-top: 48px;
  overflow: hidden;
}

.center-box {
  width: 800px;
  margin: auto;
  padding: auto;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  font-size: 18px;
}

.center-box .text {
  border: 1px solid #d8d8d8;
  margin: 0 0 24px;
  min-height: 600px;
  padding: 60px 64px;
  background: url(~assets/readerbcg/basic_bg_1.png) repeat fixed;
}

.text .chapter-title {
  font: 24px/32px PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  height: 32px;
  margin-bottom: 12px;
}

.text .info {
  font: 12px/16px PingFangSC-Regular, -apple-system, Simsun;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  color: rgba(0, 0, 0, .4);
  height: 34px;
}

.text .info div {
  margin-right: 16px;
}

.text .info div .icon {
  display: inline-block;
  font-size: 16px;
  margin-right: 6px;
  min-width: 16px;
  width: 16px;
  height: 16px;
  vertical-align: -4px;
}

.text .chapter-content p {
  line-height: 1.8;
  margin: .8em 0;
  text-indent: 2em;
}

.chapter-control {
  background: url(~assets/readerbcg/basic_bg_1.png) repeat fixed;
  border: 1px solid #d8d8d8;
  height: 70px;
  margin-bottom: 24px;
  text-align: center;

}

.chapter-control a {
  font: 18px/70px PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
  width: 33.2%;
  color: #262626;
}

.chapter-control span,
.chapter-control a {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
  word-spacing: normal;
}

.chapter-control a:hover {
  background: rgba(0, 0, 0, .03);
  color: #262626
}

.chapter-control span {
  border-right: 1px solid #d8d8d8;
  height: 32px;
}

.reader-menu {
  position: relative;
  width: 60px;
  left: 50%;
  margin-left: -468px;
}

.reader-menu dd {
  border: 1px solid rgba(0, 0, 0, .1);
  background: url(~assets/readerbcg/basic_bg_1.png) repeat fixed;
  animation-duration: 1s;
  animation-name: bounceIn;
}


.reader-menu dd a {
  display: block;
  font: 12px/16px PingFangSC-Regular, -apple-system, Simsun;
  height: 58px;
  text-align: center;
  width: 58px;
}

.reader-menu dd a .icon {
  width: 20px;
  height: 20px;
  margin: 0 auto 4px;
  display: block;
  padding-top: 10px;
}

.reader-menu dd a:hover {
  color: #f56c6c;
}

.reader-menu dd a:hover svg path {
  fill: #f56c6c;
}

.reader-menu .panel-box {
  left: 69px;
  position: absolute;
  top: 0;
  width: 480px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}

.reader-menu .panel {
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 40px 0 40px 24px;
  background-color: #fff;
  background: url("~assets/readerbcg/base_theme_1.png") repeat;
}

.reader-menu .panel h4 {
  font-size: 18px;
  line-height: 22px;
}

.reader-menu .panel li {
  margin-top: 30px;
}

.reader-menu .panel .setting-list li i {
  color: #666;
  display: inline-block;
  font: 12px/16px PingFangSC-Regular, -apple-system, Simsun;
  margin-right: 16px;
  min-width: 48px;
  vertical-align: middle;
}

.reader-menu .panel .button {
  padding: 36px 0 0;
  text-align: center;
}

.reader-menu .panel .button a {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
  word-spacing: normal;
  border-radius: 2px;
  font: 14px/34px PingFangSC-Regular, -apple-system, Simsun;
  height: 34px;
  width: 100px;
}


.reader-menu .panel .button .save-button {
  background: #bf2c24;
  border-color: #bf2c24;
  color: #fff;
  position: relative;
  text-align: center;
  z-index: 1;
  transition: color .3s, background-color .3s;
}

.reader-menu .panel .button .cancel-button {
  height: 32px;
  line-height: 32px;
  margin-left: 40px;
  width: 98px;
  background: hsla(0, 0%, 100%, .5);
  border: 1px solid rgba(0, 0, 0, .2);
  position: relative;
  text-align: center;
  z-index: 1;
}

.reader-menu .panel .button .save-button:hover {
  background: #ed4259;
  border-color: #ed4259;
  color: #fff;
}