.novel-homepage {
  display: flex;
  flex-direction: column;
}
.box-center{
  min-height: 80vh;
}
.novel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.header-right {
  display: flex;
  gap: 10px;
}

.login-btn,
.register-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.login-btn:hover,
.register-btn:hover {
  background-color: #333;
}

.novel-body {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}



.novel-sidebar {
  /* width: auto; */
  background-color: #f2f2f2;
  padding: 10px;
}

/* .category ul {
  list-style: none;
  padding: 0;
}

.category li {
  margin: 5px 0;
  cursor: pointer;
} */

.novel-content {
  flex: 1;
}

.recommendation {
  margin-bottom: 20px;
}

.book-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.book-item {
  width: 150px;
  text-align: center;
  border-radius: 20px;

}


.book-item img {
  width: 100%;
  height: auto;
}

.category li {
  margin: 0 10px;
}

.category li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.category li a:hover {
  color: #d5190fde;
  border-bottom: 2px solid red;
  margin-bottom: -2px;
}